@import "../../assets/styles/constants.scss";

body {
	margin: 0;
	background: $black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Lexend", sans-serif;
}

.App { 
	max-width: 1128px;
	margin: auto;
	background: $black;
	color: $white;
}

p {
	font-weight: 300;
}

h1 {
	font-weight: 200;
	font-size: 40px;
	color: $white;
	margin-bottom: 10px;
}

h2 {
	font-weight: 200;
	font-size: 32px;
	line-height: 32px;
	color: $white;
	margin-top: 24px;
	margin-bottom: 28px;
}

h3 {
	font-weight: 200;
	font-size: 24px;
	line-height: 24px;
}

.icon {
	cursor: pointer;
}

.btn {
	cursor: pointer;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	border: none;
	padding: 8px 16px;
	font-family: "Lexend", sans-serif;

	&:not(:last-child) {
		margin-right: 24px;
	}

	&-solid {
		background: $red;
		color: $lightBlack;
	}

	&-translucent {
		background: rgba($red, 0.16);
		color: $red;
	}

	&-transparent {
		color: $red;
		background: transparent;
	}
}
