$black: #1E1E1E;
$red:  #FF4E6B;
$yellow: #FFBB33;
$blue: #4DB4FF;
$green: #00CC66;
$grey: #797979;
$white: #FFFAFB;
$lightBlack: #131315;


$border: 1px solid rgba(255, 78, 107, 0.16);
$boxShadow: 0px 4px 16px rgba(0, 0, 0, 0.4);